/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";





/****************** BEGIN SASS ***************/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


.main-logo {
  height: 180px;
  -webkit-transition: height 2s;
  transition: height 2s ease;
  display: inline-block;
  &:hover {
    transform: scale(1.2, 1.2);
  }



}

.main-header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  text-align: center;

}




.recent-bike-img {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;

}

.thumbnail {
  background-color: darken(#f5f5f5, 40%);
}
.carousel-img {
    width: 100%;

  }
.map {
  width: 100%;


}

.about-paragraph {
    padding: 15px;
    background-color: darken(#f5f5f5, 10%);
    border-radius: 4px;

    .email {
      font-weight: bold;
    }

}

footer {

  hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #eee;
  }
  p {
    margin: 0 0 10px;

  }
}
